<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Главная страница</title>
    <style>
    body {
    background:  #9A6BFF  ;
    padding: 10px;
    background-repeat: no-repeat;

    </style>
</head>
<body>
    <div id="header" >

        <h1 align="center">Главная страница</h1>
    </div>
    <h3 align="center"><a href = "{% url 'tour' %}">Туры</a></h3>
    <h3 align="center"><a href = "{% url 'hotel' %}">Отели</a></h3>
    <h3 align="center"><a href = "{% url 'transport_type' %}">Типы транспорта</a></h3>
    <h3 align="center"><a href = "{% url 'price_list' %}">Прайс-листы</a></h3>
    <h3 align="center"><a href = "{% url 'punkt' %}">Пункты расположения</a></h3>
    <h3 align="center"><a href = "{% url 'user' %}">Пользователи</a></h3>
    <h3 align="center"><a href="/admin/logout/">Выйти из аккаунта</a></h3>

</body>
</html>

